* {
    margin: 0;
    padding: 0;
}

/* universal styles */
body {
    background-color: #fEDCD2;
    color: #171313;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    color: #fEDCD2;
    margin-left: 15px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #171313;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}



/* navbar styles */
.logo {
    height: 50px;
}

.navbar-dark {
    background-color:#171313;
}

.nav-link {
    color:#fEDCD2;
    margin-right: 20px;
    font-size: 18px;
}

.nav-link:active {
    color:#fEDCD2;
    margin-right: 20px;
    font-size: 18px;
}

/*class styles */
.container-fluid {
    position: relative;
    color: white;
}

.top-left {
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:#fEDCD2;
  }


.big-img {
    display:block;
    width:100%;
}

.small-img {
    display: none;
}

.banner {
    margin-bottom: 40px;
}

.inline {
    display: inline-block;
}

.small-margin {
    margin: 0 20px;
}

.light {
    padding-top: 25px;
    justify-content: center;
    padding-bottom: 25px;
}

.GIF-Image {
    margin: 15px;
    border: 4px solid #171313;
    border-radius: 1em;
}

.form-select:not([multiple]) {
    box-shadow: none;
}


/*main button styles */

.btn-main, .btn-main:visited {
    background-color: #171313;
    color: #fEDCD2;
}

.btn-main:focus, .btn-main:hover, .btn-main:active {
    background-color: #Df744a;
    color: white;
}

/*secondary button styles */
.btn-sec, .btn-sec:visited {
    background-color: #fEDCD2;
    color: #171313;
    box-shadow: none;
}

.btn-sec:hover, .btn-sec:focus, .btn-sec:active {
    background-color: #Df744a;
    color: white;
    box-shadow: none;
}


/*media screen commands */
@media screen and (max-width: 950px) {
    .big-img {
        display: none !important;
    }
}

@media screen and (max-width: 950px) {
    .small-img {
        display:block;
        width:100%;
        height: 500px;
    }
}

@media screen and (max-width: 950px) {
    .top-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:#fEDCD2;
      }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    form {
        margin: 0 auto; 
        width: 580px;
    }
}

@media screen and (max-width: 599px) {
    form {
        margin: 0 auto; 
        width: 280px;
    }
}


@media screen and (max-width: 510px) {
    .GIF-Image {
        width: 280px;
    }
}

