*{
    margin: 0;
    padding: 0;
}

/* universal styles */
body {
    background-color: #fEDCD2;
    color: #171313;
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    color:#171313;
    margin: 25px 0px;
    text-align: center;
    font-weight: bold;
}


/* navbar styles */
.logo {
    height: 50px;
}

.navbar-dark{
    background-color:#171313;
}

.nav-link {
    color:#fEDCD2;
    margin-right: 20px;
    font-size: 18px;
}

/*class styles */
.banner {
    margin-bottom: 40px;
}

.inline {
    display: inline-block;
}

.small-margin {
    margin: 0 20px;
}

.light {
    padding-top: 25px;
    background-color: #171313;
    justify-content: center;
}

.GIF-Image {
    margin: 10px;
    border: 4px solid #fEDCD2;
}


/*button styles */

.btn-main {
    background-color: #171313;
    color: #fEDCD2;
}

.btn-main:visited {
    background-color: #171313;
    color: #fEDCD2;
}

.btn-main:hover {
    background-color: #Df744a;
    color: white;
}

.btn-main:focus {
    background-color: #Df744a;
    color: white;
}

.btn-main:active {
    background-color: #Df744a;
    color: white;
}


/*media screen commands */

@media screen and (max-width: 300px) {
    h1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    form {
        margin: 0 auto; 
        width: 580px;
    }
}

@media screen and (max-width: 599px) {
    form {
        margin: 0 auto; 
        width: 280px;
    }
}


@media screen and (max-width: 510px) {
    .GIF-Image {
        width: 280px;
    }
}

